<div class='headerrow'>
  <div class='clientcol header' id='clientdataheader'>
    <span class='prefix'>/</span>Clients
  </div>
  <div class='pubcol header' id='pubdataheader'>
    <span class='prefix'>/</span>Publishers
  </div>
  <div class='subcol header' id='subdataheader'>
    <div class="pubsubsep"></div>
    <span class='prefix'>/</span>Subscribers
  </div>
</div>
<div style="overflow-y:scroll; height:100%; position: relative;">
  <div style="overflow:auto;" id='client_list'>

  </div>
  <div style="overflow:auto;" id='route_list'>

  </div>
  <div id='connectionBin'>

  </div>
  <div id='endpointBin'>

  </div>
  <div style="height:110px;" id='scroll_padding'>

  </div>
</div>
<style id='selectedCss' type='text/css'></style>