<div class='clientrow' id="<%- ID %>">
  <div class="clientanchor"></div>
  <div class="clientcol clientdata">
    <div class="clientnickname" title="(no description)">
      <span><%- name %></span>
    </div>
    <div class="clientname" title="(no description)">
      <span><%-name %> @ <%- remoteAddress %></span><span class="infobutton" id="button_info_<%- ID %>">?</span>
    </div>
  </div>

  <div id="publishers" class="pubcol pubdata clientdata">
    
  </div>
  <div id="subscribers" class="subcol subdata clientdata">

  </div>
</div>