/* desktop.css */
@import url("commonstyles.css");
@import url("dataflow.min.css");
/*@import url("flat-ui.css"); @import url("bootstrap.css"); */
html, body {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: Helvetica;
}

html, body {
	/*cursor:none;*/
}

.dataflow-node.mobile {
	border-radius: 50%;
}

.mobile > .dataflow-node-ports {
	visibility: hidden;

}

.mobile > .dataflow-node-header {
	height: 100%;
	width: 100%;
}

.mobile .dataflow-node-title {
	text-align: center;
	height: 100%;
	font-size: 200%;
}

.mobile .dataflow-node-title:last-child {
	padding-top: 40%;
}

.dataflow-plugin-inputs {
	width: 35.5%;
	height: 100%;
	z-index: 10;
	position: absolute;
	transition: right 0.5s;
}

.dataflow-plugin-inputs.outputs {
	width: 35.5%;
	height: 100%;
	z-index: 10;
	position: absolute;
	transition: left 0.5s;
}

.dataflow-plugin-side-dragger {
	position: absolute;
	right: -52px;
	width: 50px;
	height: 50px;
	top: -1px;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: move;
	transition: left 0.5s;
}

.dataflow-plugin-inputs.outputs .dataflow-plugin-side-dragger {
	float: right;
	right: -52px;
	transition: right 0.5s;
}

.dataflow-plugin-side-dragger i {
	font-size: 20px;
	position: absolute;
	margin-left: 15px;
	margin-top: 12px;
	pointer-events: none;
}

.dataflow-plugin-inputs .dataflow-node-inspector {
	height: 100%;
}


.dataflow-plugin-inputs .dataflow-node-inspector-inputs {
	overflow-y: scroll;
	position: relative;
	width: 100%;
	height: 87.5%;
}

.dataflow-plugin-inputs .dataflow-port-hole,
.dataflow-plugin-inspector .dataflow-port-hole {
	width: 30px;
	height: 30px;
}


.dataflow-plugin-inputs .dataflow-node {
	width: 99%;
}

#d3 {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .50px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#selectNode {
	position: relative;
	bottom: 220px;
	width: 100px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 50%;
	z-index: 6;
	border: 2px solid white;
	transition: all 0.1s ease-in;
	pointer-events: none;
}

#selectNode:hover, #selectNode.open {
	width: 130px;
	height: 130px;
	bottom: 230px;
}

.dataflow-plugin-inspector {
	position: absolute;
	width: 75%;
	left: 12.5%;
	height: 100%;
	bottom: 0;
	transition: all 0.5s;
	z-index: 10;
}

.dataflow-plugin-inspector .dataflow-plugin-inspector-title {
	height: 58px;
}
.dataflow-plugin-inspector .dataflow-plugin-inspector-title h1 {
	line-height: 45px;
	transition: text-align 0.2s;
}

.dataflow-node-inspector-inputs {
	width: 50%;
}

.dataflow-node-inspector-inputs.inputs {
	float: right;
}

.dataflow-node-inspector-inputs.outputs {
	position: absolute;
	float: left;
	left: 0;
}

.dataflow-node-inspector-inputs 

.dataflow-node-inspector-inputs span,
.dataflow-node-inspector-inputs input  {
	float: right;
	text-align: right;
}

.dataflow-plugin-inspector .dataflow-port.dataflow-out span,
.dataflow-plugin-inspector .dataflow-port.dataflow-out input  {
	float: right;
	text-align: right;
}

.dataflow-plugin-inputs.outputs .dataflow-node-inspector-inputs span,
.dataflow-plugin-inputs.outputs .dataflow-node-inspector-inputs input {
	text-align: left;
	float: left;
}

.dataflow-node-inspector-inputs label {
	height: 0px;
}

.dataflow-plugin-search {
	left: 90px;
	top: 10px;
}

.dataflow-node-inspector-inputs .dataflow-port-label,
.dataflow-plugin-inspector .dataflow-port-label {
	font-size: 1.5em; 
	top: -6px;
	position: relative;
	color: #232429;
}

.dataflow-plugin-inputs.outputs .dataflow-node-inspector-inputs .dataflow-port-label,
.dataflow-plugin-inspector  .dataflow-out .dataflow-port-label {
	font-size: 1.5em; 
	top: 6px;
	position: relative;
	color: #232429;
}
.dataflow-node-inspector-inputs .dataflow-node-title {
	font-size: 1.5em;
	color: #232429;
}

.dataflow-node-inspector-inputs .dataflow-port,
.dataflow-plugin-inspector .dataflow-port {
	height: 50px;
}


.dataflow-node-inspector-inputs .dataflow-node-ins,
.dataflow-node-inspector-inputs .dataflow-node-outs {	
	margin-top: 10px;
	width: 100%;
}

.dataflow-plugin-inspector  .dataflow-node-ports {
	height: 100%;
}

.dataflow-plugin-inspector .dataflow-node {
	width: 100%;
	height: 100%;
}

.dataflow-node-inspector-inputs .dataflow-node-header {
	height: 35px;
}

.dataflow-plugin-inspector .dataflow-node-inspector-label {
	color: #232429;
}

.dataflow-node-inspector-inputs .dataflow-node {
	position: relative;
}

.dataflow-card .dataflow-node-inspector-inputs {
	text-shadow: 0 0px !important;
}

.dataflow-plugin-inspector .dataflow-node-ports {
	padding-top: 10px;
}

.dataflow-node-inspector-inputs .dataflow-node-ports {
	position: absolute;
	top: 35px;
	right: 0;
	bottom: 0;
	left: 0;
}


.dataflow-node-inspector-inputs .dataflow-out span {
	float: right !important;
}

.dataflow-cards {
	visibility: hidden;
}

.dataflow-card ::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1) !important;
}